@font-face {
  font-family: "Whale";
  src: url("./WhaleITriedRegular-xWq0.ttf") format("truetype");
}

.App {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 3fr;
  background-color: rgba(50, 98, 117, 0.979);
  font-family: "Poppins", sans-serif;
  color: white;
}

.heading {
  text-align: center;
  font-family: "Whale", sans-serif;
  font-size: 4em;
  letter-spacing: 6px;
  margin: 20px auto;
}

.intro {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 1.5em;
}

.game-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.WordDisplay h4 {
  text-align: center;
  margin: 40px;
  font-family: "Whale", sans-serif;
  letter-spacing: 4px;
  font-size: 2em;
}

.WordDisplay p {
  margin: 30px;
  text-align: center;
  letter-spacing: 10px;
  font-size: 2em;
  font-weight: 600;
}

.Keyboard {
  width: 80%;
  margin: 60px auto;
  text-align: center;
}

.Keyboard button {
  width: 50px;
  height: 50px;
  margin: 3px 3px;
  border-radius: 50%;
  font-size: 1.2em;
}

.Keyboard button:hover {
  background-color: rgba(167, 224, 179, 0.911);
}

.score-area {
  text-align: center;
}

.GameImage {
  width: 350px;
  margin: 20px auto;
  border-radius: 50%;
  background-image: url("./clouds.png");
  background-size: 350px 350px;
}

.GameStatus {
  margin: 20px auto;
  font-family: "Whale", sans-serif;
  letter-spacing: 4px;
  font-size: 1.6em;
  color: white;
}
