@font-face {
  font-family: "Whale";
  src: url("./fonts/WhaleITriedRegular-xWq0.ttf") format("truetype");
}

body {
  background-color: rgb(50, 98, 117);
}

.App {
  max-width: 1500px;
  max-height: 1400px;
  width: 100%;
  height: 110vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 3fr;
  font-family: "Poppins", sans-serif;
  color: white;
}

.heading {
  text-align: center;
  font-family: "Whale", sans-serif;
  font-size: 4em;
  letter-spacing: 6px;
  margin: 20px auto;
}

.intro {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 1.5em;
}

.play {
  display: none;
}

.game-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.word-area {
  text-align: center;
}

.CategorySelector {
  text-align: center;
  width: 40%;
  min-width: 250px;
  margin: 40px auto 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 5px;
  color: black;
}

.WordDisplay h4 {
  text-align: center;
  margin: 40px auto 0px;
  font-family: "Whale", sans-serif;
  letter-spacing: 4px;
  font-size: 2em;
}

.WordDisplay p {
  margin: 20px;
  text-align: center;
  letter-spacing: 10px;
  font-size: 2em;
  font-weight: 600;
}

.ClueDisplay button {
  width: 30%;
  min-width: 220px;
  margin: 20px auto 5px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  background-color: rgb(243, 171, 183);
  color: black;
}

.ClueDisplay p {
  display: inline-block;
  margin: 20px auto 5px;
}

.hidden {
  display: none !important;
}

.Keyboard {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.Keyboard button {
  width: 45px;
  height: 45px;
  margin: 3px 3px;
  border-radius: 50%;
  font-size: 1.2em;
  color: black;
  padding: 0;
  background-color: white;
}

.Keyboard button:hover {
  background-color: rgba(167, 224, 179, 0.911);
}

.Keyboard button:disabled {
  opacity: 0.4;
}

.score-area {
  text-align: center;
}

.GameImage {
  width: 350px;
  margin: 40px auto 20px;
  border-radius: 50%;
  background-image: url("./images/clouds.png");
  background-size: 350px 350px;
}

.GameStatus {
  margin: 20px auto;
  font-family: "Whale", sans-serif;
  letter-spacing: 4px;
  font-size: 1.6em;
  color: white;
}

span {
  color: rgb(243, 171, 183);
}

@media only screen and (max-width: 780px) {
  .App {
    display: inline;
  }

  .intro {
    width: 90%;
  }

  .game-area {
    display: inline;
  }

  .heading {
    font-size: 3em;
    letter-spacing: 3px;
  }

  .play {
    display: inherit;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .play p {
    font-family: "Whale", sans-serif;
    font-size: 2em;
    color: rgb(243, 171, 183);
  }

  .fa-angles-down {
    height: 50px;
    color: white;
  }

  .GameImage {
    width: 150px;
    margin: 5px;
  }

  .GameStatus {
    margin-top: 5px;
    letter-spacing: 2px;
    font-size: 1.2em;
  }

  .CategorySelector {
    margin-top: 5px;
    width: 60%;
    max-width: 200px;
    font-size: 0.9em;
  }

  .WordDisplay h4 {
    letter-spacing: 3px;
    font-size: 1.4em;
  }

  .WordDisplay p {
    margin-top: 10px;
  }

  .ClueDisplay button {
    margin-top: 5px;
    width: 80%;
    max-width: 250px;
  }

  .Keyboard {
    width: 80%;
    margin: 20px auto;
  }

  .Keyboard button {
    width: 35px;
    height: 35px;
    margin: 3px 3px;
    border-radius: 50%;
    font-size: 0.9em;
  }
}
